* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Karla', sans-serif;
  background-color: white;
}

/* Navbar */
header {
  width: 100%;
  background-image: linear-gradient(to right, #672280, #A626D3);
  height: auto;
  min-height: 65px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.titleHolder {
  display: flex;
  align-items: center;
}

.titleHolder>img {
  width: 15%;
  height: auto;
  margin: 0 2%;
}

nav h3 {
  margin: 0;
}

/* Form Section */
#memeForm {
  width: 100%;
  padding: 4% 7%;
}

#memeForm>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.inputRow {
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textBox {
  width: 47%;
  margin: 1%;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  min-height: 40px;
  padding: 1% 2%;
  font-family: 'Karla', sans-serif;
}

#inputButton {
  width: 94%;
  border: none;
  background-image: linear-gradient(to right, #672280, #A626D3);
  margin: 2% 3%;
  padding: 2%;
  color: white;
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.imageHolder {
  width: 95%;
  margin: 1% auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topText,
#bottomText {
  z-index: 1;
  margin: 0;
  padding: 2%;
  position: relative;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#bottomText {
  padding-bottom: .5rem;
  bottom: 0px;
}

.imageHolder>img {
  width: 80%;
  height: auto;
  margin: auto;
}